{% extends "base.html" %}

{% block content %}
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
   
    Please enter your secretary email to continue:
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id=""/>
        <button type="submit">Enter</button>
    </form>
    {% include 'flash_message.html' %}
    <hr />
    <a href="{{url_for('pointsBoard')}}">Click here</a> for view the points board club.
    <hr />
{% endblock %}