{% extends "index.html" %}
{% block content %}
    <h2>Points by club</h2>
    <table>
        <thead>
            <tr>
                <th>Club name</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
            <tr>
                <td>{{ club['name'] }}</td>
                <td>{{ club['points'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr />
    <a href="{{url_for('show_summary')}}">Click here</a> 
    <hr />
{% endblock %}